{% extends "master.html" %}
{% block full_page_title %}UnderTheater{% endblock %}
{% block content %}
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenidos a</div>
            <div class="intro-heading">Under Theater</div>
        </div>
    </div>
    <div id="owl-demo">
        {% for play in obras %}
        <div class="item">
            <a href="{% url 'underTheaterApp:playtheater_detail' pk=play.pk %}">
                <img src="{{ play.picture_url }}" alt="Touch"class="img-thumbnail-custom" style="height:200px">
            </a>
            <h3><a href="{% url 'underTheaterApp:playtheater_detail' pk=play.pk %}">
                    {{play.play_name}}
            </a></h3>
            <h4>Can touch this</h4>

        </div>
        {% endfor%}
    </div>

</header>
{% endblock %}
