    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
            <a class="navbar-brand page-scroll" href="{% url 'home' %}">
                UnderTheater
            </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="nav navbar-nav navbar-form navbar-left" role="search" id="search_form" method="get" action="/search">
                    <div class="input-group hidden-xs" >
                        <select class="form-control" name="type">
                            <option value="play">Obras</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control search_term"name="search_term">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                <!--
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                 -->
                {% if user.is_authenticated %}
                    <li>
                    <a class="page-scroll" id="login_menu" href="#contact">{{user.username}}</a>
                    </li>
                    <li>
                    <a class="page-scroll" id="logout" href="{% url 'underTheaterApp:logout_user' %}">
                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </a>
                    </li>
                {% else %}
                    <li>
                    <a class="page-scroll" id="login" href="{% url 'underTheaterApp:register_user' %}">Login</a>
                    </li>
                {% endif %}
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
