{% extends "master.html" %}
{% load static %}
{% block full_page_title %}Busqueda{% endblock %}
{% block content %}
<div id="contenido">
    <h1>Resultados de la busqueda {% if search %} por {{search}} {% endif %}</h1>
    <div class="row">
        {% for play in object_list %}
        <div class="col-sm-5 col-md-3">
            <div class="thumbnail-custom">
                <a href="{% url 'underTheaterApp:playtheater_detail' pk=play.pk %}">
                    <img src="{{ play.picture_url }}" class="img-thumbnail-custom" style="height:150px"/>
                </a>
                <div class="caption">
                    <h4 class="thumbnail-title" name="{{play.pk}}">{{ play.play_name }}</h4>
                    <p class="thumbnail-text">{{ play.synopsis }}</p>
                    <div class="addthis_inline_share_toolbox" 
                        data-title="{{play.play_name}}"
                        data-url="{{ request.get_host }}{% url 'underTheaterApp:playtheater_detail' pk=play.pk %}"
                        data-description="{{play.synopsis}}">
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-danger">
            <strong>No</strong> se encontraron resultados para tu busqueda.
        </div>
        {% endfor %}
    </div>
    {% if object_list.has_other_pages %}
    <ul class="pagination">
        {% if users.has_previous %}
        <li><a href="?page={{ object_list.previous_page_number }}&type={{type}}&search_term={{search}}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in object_list.paginator.page_range %}
        {% if object_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}&type={{type}}&search_term={{search}}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if object_list.has_next %}
        <li><a href="?page={{ object_list.next_page_number }}&type={{type}}&search_term={{search}}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block main_scripts %}
<script type="text/javascript">
$(".caption p").dotdotdot({height:50, watch: true});
</script>
{% endblock %}
