{% extends "master.html" %}
{% load static %}
{% block full_page_title %}UnderTheater{% endblock %}
{% block content %}
<div id="contenido">
    <h1>Completa tu perfil</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail-custom background-green">
                <a href="{% url "create_profile"%}?profile=spectator">
                    <img src="{% static 'img/espectador.png' %}" class="img-thumbnail-custom background-green"/>
                </a>
                <div class="caption text-center">
                    <h4 class="thumbnail-title">Soy un espectador</h4>
                    <p class="thumbnail-text">Completa tu perfil como espectador</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail-custom background-sky">
                <a href="{% url "create_profile"%}?profile=actor">
                    <img src="{% static 'img/Actor.png'%}" class="img-thumbnail-custom background-sky"/>
                </a>
                <div class="caption text-center">
                    <h4 class="thumbnail-title">Soy un actor</h4>
                    <p class="thumbnail-text">Completa tu perfil como actor</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail-custom background-red">
                <a href="{% url "create_profile"%}?profile=theater">
                    <img src="{% static 'img/teatro.png'%}" class="img-thumbnail-custom background-red"/>
                </a>
                <div class="caption text-center">
                    <h4 class="thumbnail-title">Soy un teatro</h4>
                    <p class="thumbnail-text">Completa tu perfil como teatro</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
