{% extends "master.html" %}
{% block full_page_title %}Detalles de la clase{% endblock %}
{% load static %}
{% block content %}
<div id="contenido">
    <div data-alerts="alerts" id="alerts"></div>
    <h1>{{object.class_name}}</h1>
    <div class="col-md-4">
        <div class="row">
            <a href="#">
                <img src="{{ object.picture_url }}" class="img-thumbnail-custom" style="width: 90%;"/>
            </a>
            <div class="addthis_inline_share_toolbox" 
                data-title="{{object.class_name}}"
                data-description="{{object.description}}">
            </div>
        </div>
        <div class="row">
            <h2><i class="fa fa-usd" aria-hidden="true"></i> Precio</h2>
            <div><span class="badge-custom">$ {{object.price}}</span></div>
            <h2><i class="fa fa-microphone" aria-hidden="true"></i> Entrevista</h2>
            <div><span class="badge-custom">{{object.with_interview |yesno:"Si, No"}}</span></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h2>De que trata la clase</h2>
            <p>{{object.description}}</p> 
        </div>
        <div class="row">
            <div class="well">
                <h3 class="aling-left">{{object.theater.name}}</h3>
                <hr style="clear:both;"/> 
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="thumbnail-title"><i class="fa fa-suitcase" aria-hidden="true"></i> Teatro</h4>
                        <p>
                        <strong>Teatro:</strong> {{object.theater.name}},
                        </p>
                        <p>
                        <strong>Nombre de la sala:</strong> {{object.room_theater.room_name}},
                        </p>
                        <p>
                        <strong>Capacidad:</strong> {{object.room_theater.capacity}}
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="thumbnail-title"> <i class="fa fa-phone-square" aria-hidden="true"></i> Contacto</h4>
                        <p>
                        <strong>Direccion:</strong> {{object.theater.contact.address.raw}}, 
                        </p>
                        <p>
                        <strong>Telefono:</strong> {{object.theater.contact.number_phone}} 
                        </p>
                        <p>
                        <strong>Email:</strong> {{object.theater.contact.email|urlize}} 
                        </p>
                    </div>
                    <div class="col-sm-4">
                        {% with datetime_function=object.datetime_function %}
                        <h4 class="thumbnail-title"><i class="fa fa-calendar" aria-hidden="true"></i> Dias y horarios</h4>
                        <p><strong>Estreno:</strong> {{datetime_function.since|date:"j/n/Y"}}</p>
                        {% if datetime_function.periodic_date %}
                        <p> <strong>Dias:</strong>{{datetime_function.periodic_dates}}</p>
                        {% endif %}
                        <p> <strong>Horarios:</strong> {{datetime_function.hours}}</p>
                        {% if datetime_function.until %}
                        <p><strong>Desde:</strong> {{datetime_function.since|date:"j/n/Y"}} </p>
                        <p><strong>Hasta:</strong> {{datetime_function.until|date:"j/n/Y"}}</p>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
