{% extends "master.html" %}
{% block full_page_title %}Detalles de la clase{% endblock %}
{% load static %}
{% block content %}
<div id="contenido">
    <div data-alerts="alerts" id="alerts"></div>
    <h1>{{object.class_name}}
    {% if can_edit %}
    <a href="{% url 'underTheaterApp:class_theater_update' pk=object.pk %}"class="btn btn-lg aling-right"> Editar <span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    </h1>
    <div class="col-md-4">
        <div class="row">
            <a href="#">
                <img src="{{ object.picture_url }}" class="img-thumbnail-custom" style="width: 90%;"/>
            </a>
            <div class="addthis_inline_share_toolbox" 
                data-title="{{object.class_name}}"
                data-description="{{object.description}}">
            </div>
        </div>
        <div class="row">
            <h2><i class="fa fa-usd" aria-hidden="true"></i> Precio</h2>
            <div><span class="badge-custom">$ {{object.price}}</span></div>
            <h2><i class="fa fa-microphone" aria-hidden="true"></i> Entrevista</h2>
            <div><span class="badge-custom">{{object.with_interview |yesno:"Si, No"}}</span></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h2>De que trata la clase</h2>
            <p>{{object.description}}</p> 
        </div>
        <div class="row">
            <div class="well">
                {% include "underTheaterApp/day_function_detail.html" with day_function=object %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
