<h2>Datos del la funcion </h2>
{{ day_function_form.management_form}}
{% for form in day_function_form %}
{{form.id}}
<div class="errors">{{form.non_field_errors}}</div>
<div class="{{ day_function_form.prefix }}" id="day_function_form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form.theater.label_tag }}
                {{ form.theater }}
                {% if form.theater.errors %}
                <div class="alert alert-danger">{{ form.theater.errors }}</div>
                {% endif %}
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="form-group">
                {{ form.room_theater.label_tag }}
                {{ form.room_theater}}
                {% if form.room_theater.errors %}
                <div class="alert alert-danger">{{ form.room_theater.errors }}</div>
                {% endif %}
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="form-group">
                <label for="select_datefunction">Selecciona el tipo de fecha:</label>
                <select name="select_date_function" class="form-control" id="select_datefunction">
                    <option></option>
                    <option value="periodic">Fecha periódica</option>
                    <option value="only">Fecha única</option>
                </select>
            </div> 
        </div> 
    </div>
    <div class="datetime_form">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group hour hidden">
                    {{ form.datetime_form.hour.label_tag }}
                    {{ form.datetime_form.hour }}
                    <div class="help-block">{{form.datetime_form.hour.help_text}}</div>
                    {% if form.datetime_form.hour.errors %}<div class="alert alert-danger">{{form.datetime_form.hour.errors}}</div>{% endif %}
                </div> 
            </div> 
            <div class="col-xs-6">
                <div class="form-group since hidden">
                    {{ form.datetime_form.since.label_tag }}
                    {{ form.datetime_form.since }}
                    <div class="help-block">{{form.datetime_form.since.help_text}}</div>
                    {% if form.datetime_form.since.errors %}<div class="alert alert-danger">{{form.datetime_form.since.errors}}</div>{% endif %}
                </div>
            </div> 
        </div> 
        <div class="row">
            {% with datetime_form=form.datetime_form %}
            <div class="col-xs-6">
                <div class="form-group perdiodic_date hidden">
                    {{ datetime_form.periodic_date.label_tag }}
                    {{ datetime_form.periodic_date }}
                    <div class="help-block">{{form.datetime_form.periodic_date.help_text}}</div>
                    {% if datetime_form.periodic_date.errors %}<div class="alert alert-danger">{{datetime_form.periodic_date.errors}}</div>{% endif %}

                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group until hidden">
                    {{ datetime_form.until.label_tag }}
                    {{ datetime_form.until }}
                    <div class="help-block">{{datetime_form.until.help_text}}</div>
                    {% if datetime_form.until.errors %}<div class="alert alert-danger">{{datetime_form.until.errors}}</div>{% endif %}
                </div>
            </div>
        </div>
        {% if datetime_form.data.select_date_function %}
        <input type="hidden" id="select_date_value" value="{{datetime_form.data.select_date_function}}">
        {% endif %}
        {% if datetime_form.non_field_errors %}
        <div class="row">
            <div class="alert alert-danger">{{datetime_form.non_field_errors}}</div>
        </div>
        {% endif %}
        {% endwith %}
    </div> 
</div> 
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %} 
{% endfor %}
