<h2>Datos del la funcion </h2>
{{ day_function_form.management_form}}
{% for form in day_function_form %}
{{form.id}}
<div class="errors">{{form.non_field_errors}}</div>
<div class="{{ day_function_form.prefix }}">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                {{ form.theater.label_tag }}
                {{ form.theater }}
                {% if form.theater.errors %}
                <div class="alert alert-danger">{{ form.theater.errors }}</div>
                {% endif %}
            </div> 
        </div> 
        <div class="col-sm-4">
            <div class="form-group">
                {{ form.room_theater.label_tag }}
                {{ form.room_theater }}
                {% if form.room_theater.errors %}
                <div class="alert alert-danger">{{ form.room_theater.errors }}</div>
                {% endif %}
            </div> 
        </div> 
        <div class="col-sm-4">
            <div class="form-group">
                <label for="select_datefunction">Selecciona el tipo de dia:</label>
                <select name="select_date_function" class="form-control" id="select_datefunction">
                    <option></option>
                    <option value="periodic">Dia periodico</option>
                    <option value="only">Dia unico</option>
                </select>
            </div> 
        </div> 
    </div>
    <div class="datetime_form">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group hour hidden">
                    {{ form.datetime_form.hour.label_tag }}
                    {{ form.datetime_form.hour }}
                </div> 
            </div> 
            <div class="col-xs-6">
                <div class="form-group since hidden">
                    {{ form.datetime_form.since.label_tag }}
                    {{ form.datetime_form.since }}
                </div>
            </div> 
        </div> 
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group perdiodic_date hidden">
                    {{ form.datetime_form.periodic_date.label_tag }}
                    {{ form.datetime_form.periodic_date }}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group until hidden">
                    {{ form.datetime_form.until.label_tag }}
                    {{ form.datetime_form.until }}
                </div>
            </div>
        </div>
    </div> 
</div> 
{% endfor %}
