{% extends "master.html" %}
{% block full_page_title %}HOLa{% endblock %}
{% load static %}
{% block content %}
<div id="contenido" class="col-md-7">
    <h1>{{object.play_name}}</h1>
    <div class="row">
        <div class="col-md-6">
            <a href="#">
                <img src="{% static object.picture.url %}" class="img-responsive"/>
            </a>
        </div>
        <div class="col-md-6">
            <p>{{object.synopsis}}</p> 
            {% for theater in object.theater.all %}
            <p>{{theater.name}}</p> 
            <p>{{theater.contact.facebook}}</p> 
            <p>{{theater.contact.address.get_raw}}</p> 
            <p>{{theater.contact.number_phone}}</p> 
            {% endfor %}
            {% for room in object.room_theater.all %}
            <p>{{room.name}}</p> 
            <p>{{room.capacity}}</p> 
            {% endfor %}
            {% for actor in object.actors.all %}
            <p>{{actor.name}}</p> 
            {% endfor %}
            {% for price in object.price.all %}
            <p>{{price.price_name}} {{price.price}}</p> 
            {% endfor %}
            {% for datetime in object.datetime_show.all %}
            <p>{{datetime}} </p> 
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
