{% extends "master.html" %}
{% block full_page_title %}Creacion de obra{% endblock %}
{% load static %}
{% block content %}
<div id="contenido">
    <h1>Creacion de obra</h1>
    <form enctype="multipart/form-data" method="post" id="create_play_form" novalidate>
        {% csrf_token %}
        <div class="row">
            <h2>Datos del la obra </h2>
            {{ form.non_field_errors }} 
            <div class="form-group">
                {{form.play_name.label_tag}}
                {{form.play_name}}
                <div class="help-block">{{form.play_name.help_text}}</div>
                {% if form.play_name.errors %}<div class="alert alert-danger">{{form.play_name.errors}}</div>{% endif %}
            </div>
            <div class="form-group">
                {{form.picture}}
                {% if form.picture.errors %}<div class="alert alert-danger">{{form.picture.errors}}</div>{% endif %}
            </div>
            <div class="form-group">
                {{form.synopsis.label_tag}}
                {{form.synopsis}}
                <div class="help-block">{{form.synopsis.help_text}}</div>
                {% if form.synopsis.errors %}<div class="alert alert-danger">{{form.synopsis.errors}}</div>{% endif %}
            </div>
            <div class="form-group">
                {{form.actors.label_tag}}
                {{form.actors}}
                <div class="help-block">{{form.actors.help_text}}</div>
                {% if form.actors.errors %}<div class="alert alert-danger">{{form.actors.errors}}</div>{% endif %}
            </div>
        </div>
        <div class="row">
            {% include "underTheaterApp/day_function_formset.html" with day_function_form=form.day_function %}
        </div>
        <div class="row">
            {% include "underTheaterApp/ticket_formset.html" with ticket_form=form.ticket %}
        </div>
        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-success"/> Guardar</button>
            </div> 
        </div>
</form> 
</div>
{% endblock %}
{% block main_scripts %}
<script type="text/javascript">
$("#id_actors").select2();
$("#id_undertheaterapp_dayfunction_related-0-theater").select2({placeholder: "Selecciona el teatro", allowClear: false});
$("#id_undertheaterapp_dayfunction_related-0-room_theater").select2({placeholder: "Selecciona la sala", allowClear: false}).attr('disabled','disabled');
$("#id_hour").select2();
$("#id_picture").filestyle({buttonName: "btn-blue", "input":false, "iconName":"fa fa-camera-retro",'buttonText':"Elegir foto"});
$("#id_periodic_date").select2();
var date_format ={ dateFormat: 'dd/mm/yy' };
$("#id_since").datepicker(date_format);
$("#id_until").datepicker(date_format);
$('#id_ticket_table tbody tr').formset({
prefix: "{{ form.ticket.prefix }}",
            formCssClass: 'dynamic-contact-form',
            addCssClass: 'glyphicon glyphicon-plus add-row  btn btn-success ',
            deleteCssClass: 'glyphicon glyphicon-remove del-row btn btn-danger ',
            addText: '',
            deleteText: '',
});
/*
$(".inline.{{ form.ticket.prefix }}").formset({
    prefix: "{{ form.ticket.prefix}}",
}); 

*/
$("#select_datefunction").select2( {placeholder: "Selecciona el tipo de fecha", minimumResultsForSearch: -1, allowClear: false});

$("#select_datefunction").change(
        function(e){
        var date_option = $(this).val();
        $(".datetime_form .hour").removeClass("hidden");
        if (date_option =="only"){
            $(".datetime_form .since").removeClass("hidden");
            $(".datetime_form .until").addClass("hidden").removeProp("required").val("");
            $(".datetime_form .perdiodic_date").addClass("hidden").removeProp("required").select2("val", "");
         }else{
            $(".datetime_form .since").removeClass("hidden").prop('required', true);
            $(".datetime_form .until").removeClass("hidden").prop('required', true);
            $(".datetime_form .perdiodic_date").removeClass("hidden").prop('required', true);
         }
});

$("#id_undertheaterapp_dayfunction_related-0-theater").change(
        function(e){
        var theater_pk = $(this).val(),
        url = "/theater/"+ theater_pk +"/all_room_theater";        
        if(theater_pk){
            $.get(url, function(data){
                var select_data = [],
                rooms_select = $("#id_undertheaterapp_dayfunction_related-0-room_theater");
                _.map(data,function(object){ select_data.push({"id":object.pk, "text":object.fields.room_name });
                    });  
                $(rooms_select).removeAttr('disabled');
                $(rooms_select).empty()
                $(rooms_select).select2({data:select_data});
                });
            }else{
                $("#id_undertheaterapp_dayfunction_related-0-room_theater").attr('disabled','disabled');
            }
        
        });


/*
$('.day_function_formset').formset(
        {addText: '', deleteText: '', 
         addCssClass: 'btn btn-success glyphicon glyphicon-plus text-aling-right',
         deleteCssClass: 'btn btn-danger glyphicon glyphicon-minus '}
);
*/
</script>
{% endblock %}
