.well{
    background-color: rgba(0,0,0,.5);
    border: 1px solid #fed136;
}

.aling-left{
    text-align:left !important;
    float:left !important;
}

.aling-right{
    text-align:right !important;
    float:right !important;
}

.select2-results { background-color: #000000 !important; } 
.select2-choice { background-color: #000000 !important; color: #FF8C00 !important;  } 
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #5897fb !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
background-color: #5897fb !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
 color:#333 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
 color:#333 !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
